* {
    margin: 0 auto;
    padding: 0px;
}
body {    
    background-color: #999999;
}
header {
    height: 10vh;
    background-color: dodgerblue;
    color: white;    
}
footer {
    background-color: darkslategray;
    height: 7vh;
}
h1 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 8px;    
    margin-bottom: 0px; */
}
h2 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    color: whitesmoke;
    text-align: center;
    padding: 8px 4px;    
}
.game-table {
    width: 83%;
    border: 2px solid;
    background-color: #ffffff;
    /* height: 50vh; */
}

}
.main-table {    
    /* width: 83%; */
    /* border: 2px solid; */
    background-color: #ffffff;
    /* height: 83vh; */
}
.main-cell {
    text-align: center;
    /* border: 1px solid; */
    background-color: #f4f4f4;
    padding: 3px;
    margin: 5px;  
    
}
.main-cell > img {    
    width: 75px;
    height: 75px;
    /* transform: scaleX(-1); */    
}
.game-cell {
    text-align: center;
    /* border: 1px solid; */
    background-color: #f4f4f4;
    padding: 3px;
    margin: 5px;  
}
.game-cell > img {
    width: 75px;
    height: 75px;
}
.game-cell-result {
    text-align: center;
    background-color: #f4f4f4;
    padding: 3px;
    margin: 5px;  
}
.game-cell-result > img {
    width: 100px;
    height: 100px;
}
.ai-game-result > img {
    width: 100px;
    height: 100px;  
    transform: scaleX(-1);  
}
.ai-game-span > img {
    width: 75px;
    height: 75px;
    transform: scaleX(-1);
}
.ai-player > td > img {
    transform: scaleX(-1);
}
.player-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
    writing-mode: vertical-rl;
    text-orientation: upright;
}