* {
    margin: 0 auto;
    padding: 0px;
}
body {    
    background-color: #999999;
}
footer {
    background-color: darkslategray;
    height: 75px;
}
a {
    font-size: 22px;
    color: #999999;    
}
h1 {    
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
h2 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    color: #f4f4f4;
    text-align: center;
    padding: 8px;
}
h3 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center; 
    padding: 2px 2px;
}
h4 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #f4f4f4;
    text-align: center; 
}
.header-main {
    height: 100px;
    background-color: dodgerblue;
    color: white;    
    text-align: center;  
    border-bottom: 2px solid darkslategray;  
}
.menu-table {
    background-color: darkslategray;
    color: #f4f4f4;
}
.game-table {
    width: 800px;
    border: 2px solid;
    background-color: #ffffff;
}
.menu-text {
    font-size: 14px;
    font-family: monospace;
    color: ghostwhite;
    padding: 4px 4px;    
    text-align: center;
}
.menu-result-text {
    font-size: 18px;
    font-family: monospace;
    color: greenyellow;
    padding: 2px 2px;    
    text-align: center;
}
.main-table { 
    background-color: #ffffff;    
}
.main-cell {    
    text-align: center;
    background-color: #f4f4f4;
    padding: 3px;
    margin: 3px;      
}
.main-cell > img {    
    width: 75px;
    height: 75px;
}
.game-cell {
    width: 100px;
    height: 100px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: darkslategrey;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0px; 
    vertical-align: middle;
    /* background-image: url("images/fist.png");  */
    /* background: url(images/fist.png);
    background-repeat: no-repeat;
    background-size: 50%; */
}
.ai-game-cell {
    width: 100px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: darkslategrey;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0px; 
    /* vertical-align: top;         */
    /* background-image: url("images/fist.png");  */
    /* background: url(images/fist.png);
    background-repeat: no-repeat;
    background-size: 50%; */
}
.game-cell > img {
    width: 75px;
    height: 75px;    
}
.ai-game-cell > img {
    width: 75px;
    height: 75px;
    transform: scaleX(-1);
}
.game-cell-result {
    width: 200px;
    word-wrap: break-word;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #f4f4f4;
}
.game-cell-result > img {
    width: 100px;
    height: 100px;
}
.ai-game-result > img {
    width: 100px;
    height: 100px;  
    transform: scaleX(-1);  
}
.ai-player > td > img {
    transform: scaleX(-1);    
}
.player-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.my-buttons {    
    padding: 2px 22px;  
    margin: 2px 22px; 
    border-radius: 4px; 
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
}
.my-input-text {
    width: 600px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}